#Etapas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: auto;
}
 
#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}
 
.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 4px rgba(255, 255, 255, 0.1);
}

a{
    text-decoration: none;
    color: black;
}

#pdf-button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a5a5a;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: backgraund-color .3s ease;
}
#pdf-button:hover {
    background-color: #f8d477;
}

.dish-description {
    color: #434343;
    text-align: center;
}

.image{
    justify-content: center;
    width: 100%;
}



@media screen and (max-width: 1170px){
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 700px) {
    .dish {
        width: 100%;
    }
    #Etapas .section-subtitle { 
        text-align: center;
    }
}