#Sobre {
    min-height: calc(100vh - 91px);
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 48px;
    flex-direction: inherit;
}
#Sobre .section-title {
    text-align: center;
}

#Sobre .section-subtitle {
    text-align: center;
    font-size: 3rem;
}


#sobre-content {
    width: 100%;
}

#text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
}
.text-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 31, 31);
    gap: 20px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  }
  
  .text-content p {
    line-height: 1.6;
    font-size: 1.100rem;
    color: #ffffff;
    text-align: justify;
  }


@media screen and (max-width: 1170px) {
    #Sobre {
        flex-direction: column;
    }

    #sobre-image {
        display: none;
    }

    #sobre-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}